
{% extends 'testimonial/index.html' %}
{% load static %}
{% block content%}
<!-- Testimonial Start -->
 <div class="container-fluid bg-primary bg-testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel rounded p-5 wow zoomIn" data-wow-delay="0.6s">
                    <div class="testimonial-item text-center text-white">
                        <img class="img-fluid mx-auto rounded mb-4" src="{% static 'testimonial/img/testimonial-1.jpg' %}" alt="">
                        <p class="fs-5">Doctor Noura is very good in her job, thanks alot Doctor and best wishes</p>
                        <hr class="mx-auto w-25">
                        <h4 class="text-white mb-0">Aya</h4>
                    </div>
                    <div class="testimonial-item text-center text-white">
                        <img class="img-fluid mx-auto rounded mb-4" src="{% static 'testimonial/img/testimonial-2.jpg' %}" alt="">
                        <p class="fs-5">Doctor Mohammed is very good in his job, thanks alot Doctor and best wishes</p>
                        <hr class="mx-auto w-25">
                        <h4 class="text-white mb-0">Sara</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}